# Virtual Environment
venv/
env/
ENV/

# Environment Variables (Security)
.env

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor files
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db